@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
  }
}

@layer base {
  @font-face {
    font-family: "PublicoBanner";
    src: url("/src/assets/fonts/PublicoBanner.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
